.btn {
    position: relative;
    padding: 1.4rem 4.2rem;
    padding-right: 3.1rem;
    font-size: 1.4rem;
    color: var(--inv);
    letter-spacing: 1.1rem;
    text-transform: uppercase;
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn:hover {
    color: var(--def);
    transition-delay: .3s;
}

.btn:hover:before {
    transition-delay: 0s;
}

.btn:hover:after {
    background: var(--inv);
    transition-delay: .2s;
}


/* From Top */

.b-from-top:before,
.b-from-top:after {
    left: 0;
    height: 0;
    width: 100%;
}

.b-from-top:before {
    bottom: 0;
    border: 1px solid var(--inv);
    border-top: 0;
    border-bottom: 0;
}

.b-from-top:after {
    top: 0;
    height: 0;
}

.b-from-top:hover:before,
.b-from-top:hover:after {
    height: 100%;
}


/* From Left */

.b-from-left:before,
.b-from-left:after {
    top: 0;
    width: 0;
    height: 100%;
}

.b-from-left:before {
    right: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.b-from-left:after {
    left: 0;
}

.b-from-left:hover:before,
.b-from-left:hover:after {
    width: 100%;
}


/* From Right */

.b-from-right:before,
.b-from-right:after {
    top: 0;
    width: 0;
    height: 100%;
}

.b-from-right:before {
    left: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.b-from-right:after {
    right: 0;
}

.b-from-right:hover:before,
.b-from-right:hover:after {
    width: 100%;
}


/* From Middle */

.b-from-middle:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.b-from-middle:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: var(--inv);
}

.b-from-middle:hover:before {
    left: 0;
    width: 100%;
}

.b-from-middle:hover:after {
    top: 0;
    height: 100%;
}


/* From Bottom */

.b-from-bottom:before,
.b-from-bottom:after {
    left: 0;
    height: 0;
    width: 100%;
}

.b-from-bottom:before {
    top: 0;
    border: 1px solid var(--inv);
    border-top: 0;
    border-bottom: 0;
}

.b-from-bottom:after {
    bottom: 0;
    height: 0;
}

.b-from-bottom:hover:before,
.b-from-bottom:hover:after {
    height: 100%;
}


/* ~~~~~~~~~~~~ BUTTONS GLOBAL SETTINGS ~~~~~~~~~~~~ */

*,
*:before,
*:after {
    box-sizing: border-box;
}
.container {
    --def: #000;
    --inv: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: row;

}
body {
    overflow: auto;
    background: #228bcc;

}

html {
    font-size: 16px;
    font-family: 'Verdana';
}

a {
color: rgb(10,10,10);
text-decoration: none;
user-select: none;
}

.list {
    margin-bottom: 8px;
    padding:0;
    list-style: none;
    counter-reset: li;
    max-width: 35%;
}    

.list li {
    position: relative;
    border: 2px solid #337AB7;
    background: #EBF3FA;
    padding:16px 20px 16px 28px;
    margin:12px 0 12px 40px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

    
}
.list li:hover {
    background: #FFF;
}
.list li:before {
    line-height: 32px;
    position: absolute;
    top: 4px;
    left:-40px;
    width:40px;
    text-align:center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background: #1265ac;
    counter-increment: li;
    content: counter(li);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.list li:hover:before {
    width:46px;
}
.list li:after {
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    height: 0;
    width: 0;
    border: 16px solid transparent;
    border-left-color: #1265ac;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}
.list li:hover:after {
    margin-left: 6px;
}

.list li > a {
color: rgb(10,10,10);
text-decoration: none;
user-select: none;
}

.content{
position:fixed;
background:#EBF3FA;
top:70px;
right:30px;
width: 60%;
padding: 20px;
}

#myChart {
    max-width: 525px;
}
.home {
position: fixed;
background: #1265ac;
outline: none;
right: 30px;
top: 15px;
padding: 10px;
}

.home a {
font-size: 18px;
font-weight: bold;
color: white;
text-decoration: none;
user-select: none;
}
